:root {
  --accent-color: #2e2d4f;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.tabs-container {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  color: var(--accent-color);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-btn-container {
  display: flex;
  width: 100%;
}

.tab-btn {
  padding: 10px 20px;
  background-color: rgba(172, 183, 185, 0.1);
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  width: 50%;
  height: 50px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  border-radius: 30px 30px 0px 0px;
}

.tab-btn:active,
.tab-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 2px 2px 5px wheat;
  color: white;
  outline-color: var(--accent-color);
}

.active {
  background-color: var(--accent-color);
  box-shadow: 2px 2px 5px wheat;
  color: white;
  outline-color: var(--accent-color);
  animation-name: buttonPop;
  animation-duration: 0.3s;
}

.form {
  background-color: rgba(172, 183, 185, 0.1);
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 2px 5px gray;
  display: flex;
    position: relative;
  flex-direction: column;
  padding-bottom: 20px;
}

form input {
  padding: 7px;
  border: 1px solid #4d6a6d;
  border-radius: 5px;
  color: black;
  width: 90%;
  margin-bottom: 3px;
  margin-left: 20px;
  outline-color: var(--accent-color);
}

form p,
label {
  margin-left: 20px;
  margin-top: 5px;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  color: var(--accent-color);
}

.submit-btn {
  padding: 5px;
  border: none;
  background-color: var(--accent-color);
  font-size: 20px;
  color: white;
  border-radius: 6px;
  width: 220px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
  margin-top: 15px;
  outline-color: var(--accent-color);
}

.submit-btn:hover {
  background-color: #11102c;
  transition: background-color 0.3s ease;
}

form img {
  width: 30px;
  height: 30px;
}

.password-toggle,
.password-toggle-confirm {
  position: relative;
}

.password-toggle img {
  position: absolute;
  top: 40%;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.password-toggle-confirm {
  top: 30px;
  right: 40px;
}

.agree-checkbox {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}

.form-group {
  position: relative;
}

.form-group input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.form-group input[type="checkbox"]::after {
  content: "✔";
  display: none;
  position: absolute;
  color: white;
  bottom: 8px;
  left: 3px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
}

.form-group input[type="checkbox"]:checked::after {
  display: block;
}

.agree-checkbox p {
  text-wrap: nowrap;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.invalid-input {
  border: 1px solid red;
}

.validation-message {
  color: red;
  font-size: 13px;
  margin-top: 0;
  font-weight: 400;
  width: 320px;
}

.success-message {
  color: green;
  font-size: 13px;
  margin-top: 0;
  font-weight: 400;
  width: 320px;
}


.valid-input {
  border: 2px solid green;
}


.login-form {
  height: auto;
  padding-bottom: 20px;
}


.login-form .submit-btn {
  margin-top: 20px;
}



.login-form .password-toggle {
  position: relative;
}

.login-form .password-toggle img {
  position: absolute;
  top: 40%;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 25px;
  width: 25px;
}

@keyframes buttonPop {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.loader, .success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.7);
  transition: opacity 0.75s, visibility 0.75s;
  opacity: 0;
  visibility: hidden;
}

.success-modal {
  z-index: 1000;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.success-modal-hidden {
  opacity: 0;
  visibility: hidden;
}

.success-modal.show {
  opacity: 1;
  visibility: visible;
}

.success-modal h1 {
  font-size: 20px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.loader::after {
  content: " ";
  width: 80px;
  height: 80px;
  border: 12px solid #dddddd;
  border-top-color: var(--accent-color);
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  animation-play-state: paused;
}

.loader.spinning::after {
  animation-play-state: running;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  .tabs-container {
    max-width: 400px;
  }

  .tab-btn {
    font-size: 16px;
    width: 48%;
  }

  .form {
    width: 90%;
  }

  form input {
    width: 85%;
  }

  .submit-btn {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .tabs-container {
    max-width: 300px;
  }

  .tab-btn {
    font-size: 14px;
    width: 46%;
  }

  .form {
    width: 100%;
  }

  form input {
    width: 80%;
  }
}


